 .pizza{
  display:none;
}
.delivary{
  display: none;
 }   
 .jumbotron{
   background-image: url("../images/background.png");  
   color:white;
   height: 30px;
 }
.home_content{
display: flex;
flex-direction: row;
justify-content:space-between;
}
h1{
  text-align: center;
}
/* .summary{
  float: right;
  padding-bottom: 100px;
} */
.footer{
  text-align:center;
  border:0px solid black;
  background-color: black;
  color: white;
}
